@import url('https://fonts.googleapis.com/css2?family=The+Girl+Next+Door&display=swap');

:root {
	--bg: #333;
	--cl: #fff;
}

article.quote-post {
	max-width: 80%;
	min-height: 50%;
	max-height: 25%;
	margin: 0 auto; 
	font-size: 1.2rem;
	padding: 1.5rem 0;
	background: var(--cl); 
	font-family: 'The Girl Next Door', Arial, Helvetica, serif;
}

article.individual {
	margin: 0 auto; 
	/* margin-top: 5rem; */
	background: #f4f4f4;
}

article.individual a{
	display : block ;
	border-bottom: none ;
}

article.individual a img{
	display : block ;
	margin : auto;
}

blockquote {
	position: relative;
	margin: 0 0 2em 0;
    padding: 0.5em 1em 0.5em 2em;
    border-left: 0;
}

blockquote p:before, blockquote p:after {
	content: "\201C";
	color: var(--bg);
	font-size: 15rem;
	left: -1.75rem;
	top: -9rem;
	position: absolute;
	text-shadow: -3px -3px 1px var(--cl), 3px -3px 1px var(--cl), 3px 3px 1px var(--cl), -3px 3px 1px var(--cl), 0px 3px 1px var(--cl), 0px -3px 1px var(--cl);
	font-family: monospace;
}

blockquote p:after {
	content: "\201D";
	top: calc(100% - 10rem);
	left: calc(100% - 6.5rem);
}

blockquote p {
	background: var(--bg);
	color: var(--cl);
	font-size: 1.7rem;
	line-height: 1.65;
	font-weight: 400;
	padding: 3rem 3rem;
	border-radius: 1rem;
	position: relative;
	margin: 0 auto; 
}

blockquote cite {
	text-align: right;
	color: #FFC107;
	font-size: 1rem;
	font-weight: bold;
	max-width: calc(100% - 7rem);
	padding: 1rem 1rem;
	background: var(--bg);
	margin-top: 2rem;
	border-radius: 1rem;
	height: 4rem;
	box-sizing: border-box;
}

blockquote cite span {
	display: block;
	width: 100%;
	font-size: 1rem;
	line-height: 1.25rem;
	font-weight: normal;
	color: #e6e6e6;
	background: var(--bg);
	padding: 0rem 1.5rem 1rem;
	border-radius: 0.5rem  0.5rem 1rem 1rem;
	margin-left: -1.5rem ;
	margin-top: 0.1rem;
}

blockquote div + div {
	display: flex;
	justify-content: flex-end;
}

blockquote div img {
	margin: 1rem;
	border-radius: 1rem;
	height: 6rem;
}

blockquote div img.individual {
	border-radius: 50%;
}

blockquote.small {
	width: calc(50% - 2rem);
	display: inline-block;
	margin-right: 0;
}	

blockquote.small p {
	font-size: 1.25rem;
	padding: 2rem 2rem;
}	

blockquote.small p:before, blockquote.small p:after {
	font-size: 10rem;
	top: -6rem;
	left: -1rem;
}	

blockquote.small p:after {
	top: calc( 100% - 6.5rem);
	left: calc(100% - 4.5rem);
}	

blockquote.small cite {
	font-size: 1rem;
	line-height: 1rem;
}	
	

blockquote.small + .small {
	margin-left: 2rem;
}	


@media only screen and (max-width:767px) {
	blockquote.small {
		width: initial;
		margin-right: 5.5rem;
	}
	blockquote.small + 	blockquote.small {
		margin-left: 5rem;
	}
}