{% include 'header.html' %}

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">About</a></h2>
										<p>Why Quotes queued?</p>
									</div>
								</header>
								<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
								<p>
									Welcome to Quotes Queued, where the eloquence of words meets the boundless 
									depths of human wisdom.
								</p>
								<p>
									Within these digital halls, we curate a treasury of prose, a mosaic of musings, 
									and a symphony of sentiments. Our collection, a tapestry woven from the pens of poets, 
									philosophers, and pioneers, invites you to embark on a journey through the corridors 
									of inspiration. In the hushed whispers of each quote lies the echo of centuries past 
									and the promise of futures yet untold. Here, amidst the pages of time, we gather the 
									fragments of wisdom that have shaped civilizations, stirred souls, and kindled the fires 
									of imagination. Step into our library of words, where every verse is a lantern in the dark,
									 guiding seekers on their quest for meaning, purpose, and truth. Join our fellowship of 
									 literary adventurers as we traverse the landscapes of thought, savoring the richness of 
									 language and the depth of human experience.
								</p>
								<p>
									At Quotes Queued, we invite you to linger awhile, to lose yourself in the labyrinth of 
									quotations, and to emerge, perhaps, with newfound insights and renewed inspiration. 
									Come, let us journey together through the pages of history, guided by the luminous glow 
									of words, as we unlock the mysteries of existence one quote at a time.
								</p>
								<footer>
									<ul class="stats">
										<li><a href="#">General</a></li>
										<li><a href="#" class="icon solid fa-heart"></a></li>
										<li><a href="#" class="icon solid fa-comment"></a></li>
									</ul>
								</footer>
							</article>
					</div>
{% include 'no-footer.html' %}