{% include 'header.html' %}

				<!-- Main -->
					<div id="main">

						<article class="quote-post">
                            {% for quote in quotes : %}
                            <blockquote class="{{ loop.cycle('', 'small', 'small') }}">
                                <div><p>{{quote.quote}}</p></div>
                                <div>
                                    <cite>{{quote.author}}</cite>
                                    <img src="https://img.freepik.com/free-vector/man-profile-account-picture_24908-81754.jpg?t=st=1714666118~exp=1714669718~hmac=b5a6f17a5930d24c18f146ac0f6e20be60e9e881e356178093c79a65cc748a45&w=740"></div>
                            </blockquote>
                            
                         {% endfor %}
                        
                        
                        </article>


						<!-- Pagination -->
							<ul class="actions pagination">
								<li><a href="" class="disabled button large previous">Previous Page</a></li>
								<li><a href="#" class="button large next">Next Page</a></li>
							</ul>

					</div>

{% include 'no-footer.html' %}