{% include 'header.html' %}

				<!-- Main -->
					<div id="main">

						{% for quote in quotes %}
						<!-- Post -->
							<article class="post">
								<a href="single.html" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
								<p>{{quote.quote}}</p>
								<footer>
									<ul class="actions">
										<li><a href="#" class="button large">{{quote.category}}</a></li>
									</ul>
									<ul class="stats">
										<li><a href="#">{{quote.author}}</a></li>
										<li><a href="#" class="icon solid fa-heart">{{quote.likes}}</a></li>
										<li><a href="#" class="icon solid fa-comment">{{quote.dislikes}}</a></li>
									</ul>
								</footer>
							</article>
						{% endfor %}

						<!-- Pagination -->
							<ul class="actions pagination">
								<li><a href="" class="disabled button large previous">Previous Page</a></li>
								<li><a href="#" class="button large next">Next Page</a></li>
							</ul>

					</div>

{% include 'no-footer.html' %}