{% include 'header.html' %}

<article class="quote-post individual">
    <blockquote>
        <div><p>{{quote.quote}}</p></div>
        <div>
            <cite>{{quote.author}}</cite>
            <img class="individual" src="https://img.freepik.com/free-vector/man-profile-account-picture_24908-81754.jpg?t=st=1714666118~exp=1714669718~hmac=b5a6f17a5930d24c18f146ac0f6e20be60e9e881e356178093c79a65cc748a45&w=740"></div>
    </blockquote>

    <a href="{{url_for('random_quote')}}">
        <img src="{{url_for('static', filename='images/shuffle.png')}}" alt="shuffle" style="width: 100px; height: 100px;">
    </a>
</article>    


{% include 'no-footer.html' %}