
				<!-- Sidebar -->
                <section id="sidebar">

                    <!-- Intro -->
                        <section id="intro">
                            <a href="#" class="logo"><img src="{{url_for('static', filename='images/logo.png')}}" alt="" /></a>
                            <header>
                                <h2>Quotes Queued</h2>
                                <p>A one-stop destination for your quote surfing.</p>
                            </header>
                        </section>

                    <!-- Mini Posts -->
                        <section>
                            <div class="mini-posts">
                                {% for category in categories %}
                                <!-- Mini Post -->
                                    <article class="mini-post">
                                        <header>
                                            <h3><a href="{{url_for('list_by_category', category = category)}}">{{category}}</a></h3>
                                        </header>
                                    </article>
                                {% endfor %}
                                <!-- Mini Post -->
                                    <!-- <article class="mini-post">
                                        <header>
                                            <h3><a href="single.html">Rutrum neque accumsan</a></h3>
                                            <time class="published" datetime="2015-10-19">October 19, 2015</time>
                                            <a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
                                        </header>
                                        <a href="single.html" class="image"><img src="images/pic05.jpg" alt="" /></a>
                                    </article> -->

                            </div>
                        </section>

                    <!-- About -->
                        <section class="blurb">
                            <h2>Why Quotes queues? </h2>
                            <p>At Quotes Queued, we invite you to linger awhile, to lose yourself in the labyrinth 
                                of quotations, and to emerge, perhaps, with newfound insights and renewed inspiration. 
                                Come, let us journey together through the pages of history, guided by the luminous glow 
                                of words, as we unlock the mysteries of existence one quote at a time.</p>
                            <ul class="actions">
                                <li><a href="{{url_for('about')}}" class="button">Learn More</a></li>
                            </ul>
                        </section>
                        
